<div class="social-links">
    {% if site.author.facebook %}
        <a class="link" data-title="facebook.com/{{ site.author.facebook }}" href="http://facebook.com/{{ site.author.facebook }}" target="_blank">
            <svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
        </a>
    {% endif %}

    {% if site.author.twitter %}
        <a class="link" data-title="twitter.com/{{ site.author.twitter }}" href="http://twitter.com/{{ site.author.twitter }}" target="_blank">
            <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
        </a>
    {% endif %}

    {% if site.author.google %}
        <a class="link" data-title="plus.google.com/+{{ site.author.google }}" href="http://plus.google.com/+{{ site.author.google }}" target="_blank">
            <svg class="icon icon-google"><use xlink:href="#icon-google"></use></svg>
        </a>
    {% endif %}

    {% if site.author.instagram %}
        <a class="link" data-title="instagram.com/{{ site.author.instagram }}" href="http://instagram.com/{{ site.author.instagram }}" target="_blank">
            <svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg>
        </a>
    {% endif %}

    {% if site.author.pinterest %}
        <a class="link" data-title="pinterest.com/{{ site.author.pinterest }}" href="http://pinterest.com/{{ site.author.pinterest }}" target="_blank">
            <svg class="icon icon-pinterest"><use xlink:href="#icon-pinterest"></use></svg>
        </a>
    {% endif %}

    {% if site.author.linkedin %}
        <a class="link" data-title="linkedin.com/in/{{ site.author.linkedin }}" href="http://linkedin.com/in/{{ site.author.linkedin }}" target="_blank">
            <svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg>
        </a>
    {% endif %}

    {% if site.author.youtube %}
        <a class="link" data-title="youtube.com/{{ site.author.youtube }}" href="http://youtube.com/{{ site.author.youtube }}" target="_blank">
            <svg class="icon icon-youtube"><use xlink:href="#icon-youtube"></use></svg>
        </a>
    {% endif %}

    {% if site.author.spotify %}
        <a class="link" data-title="open.spotify.com/user/{{ site.author.spotify }}" href="https://open.spotify.com/user/{{ site.author.spotify }}" target="_blank">
            <svg class="icon icon-spotify"><use xlink:href="#icon-spotify"></use></svg>
        </a>
    {% endif %}

    {% if site.author.lastfm %}
        <a class="link" data-title="last.fm/user/{{ site.author.lastfm }}" href="https://last.fm/user/{{ site.author.lastfm }}" target="_blank">
            <svg class="icon icon-lastfm"><use xlink:href="#icon-lastfm"></use></svg>   
        </a>
    {% endif %}

    {% if site.author.github %}
        <a class="link" data-title="github.com/{{ site.author.github }}" href="https://github.com/{{ site.author.github }}" target="_blank">
            <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>
        </a>
    {% endif %}
    
    {% if site.author.stackoverflow %}
        <a class="link" data-title="stackoverflow.com/{{ site.author.stackoverflow }}" href="http://stackoverflow.com/users/{{ site.author.stackoverflow }}" target="_blank">
            <svg class="icon icon-stackoverflow"><use xlink:href="#icon-stackoverflow"></use></svg>
        </a>
    {% endif %}

    {% if site.author.quora %}
        <a class="link" data-title="quora.com/profile/{{ site.author.quora }}" href="https://www.quora.com/profile/{{ site.author.quora }}" target="_blank">
            <svg class="icon icon-quora"><use xlink:href="#icon-quora"></use></svg>
        </a>
    {% endif %}

    {% if site.author.reddit %}
        <a class="link" data-title="reddit.com/user/{{ site.author.reddit }}" href="https://www.reddit.com/user/{{ site.author.reddit }}" target="_blank">
            <svg class="icon icon-reddit"><use xlink:href="#icon-reddit"></use></svg>
        </a>
    {% endif %}

    {% if site.author.medium %}
        <a class="link" data-title="medium.com/@{{ site.author.medium }}" href="https://medium.com/@{{ site.author.medium }}" target="_blank">
            <svg class="icon icon-medium"><use xlink:href="#icon-medium"></use></svg>
        </a>
    {% endif %}

    {% if site.author.vimeo %}
        <a class="link" data-title="vimeo.com/{{ site.author.vimeo }}" href="https://vimeo.com/{{ site.author.vimeo }}" target="_blank">
            <svg class="icon icon-vimeo"><use xlink:href="#icon-vimeo"></use></svg>
        </a>
    {% endif %}

    {% if site.author.lanyrd %}
        <a class="link" data-title="lanyrd.com/{{ site.author.lanyrd }}" href="https://lanyrd.com/{{ site.author.lanyrd }}" target="_blank">
            <svg class="icon icon-microphone"><use xlink:href="#icon-microphone"></use></svg>
        </a>
    {% endif %}

    {% if site.author.email %}
        <a class="link" data-title="{{ site.author.email }}" href="mailto:{{ site.author.email }}">
            <svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg>
        </a>
    {% endif %}
</div>
